In [0]:
!git clone https://github.com/abhinavsagar/Machine-Learning-Projects.git

Cloning into 'Machine-Learning-Projects'...
remote: Enumerating objects: 19, done.
remote: Counting objects: 100% (19/19), done.
remote: Compressing objects: 100% (17/17), done.
remote: Total 19 (delta 6), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (19/19), done.

In [0]:
%cd Machine-Learning-Projects

/content/Machine-Learning-Projects

In [0]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
from itertools import cycle, islice
import matplotlib.pyplot as plt

%matplotlib inline

In [0]:
data = pd.read_csv('kmeans_weather/minute_weather.csv')

In [0]:
data.shape

(10407, 13)

In [0]:
data.head()

   rowID     hpwren_timestamp  ...  rain_duration  relative_humidity
0      0  2011-09-10 00:00:49  ...            NaN               60.5
1      1  2011-09-10 00:01:49  ...            0.0               39.9
2      2  2011-09-10 00:02:49  ...            0.0               43.0
3      3  2011-09-10 00:03:49  ...            0.0               49.5
4      4  2011-09-10 00:04:49  ...            0.0               58.8

[5 rows x 13 columns]

In [0]:
sampled_df = data[(data['rowID'] % 10) == 0]
sampled_df.shape

(1041, 13)

In [0]:
sampled_df.describe().transpose()

                     count         mean  ...      75%       max
rowID               1041.0  5200.000000  ...  7800.00  10400.00
air_pressure        1041.0   916.065610  ...   917.90    920.10
air_temp            1041.0    65.295159  ...    70.34     78.26
avg_wind_direction  1041.0   156.962536  ...   209.00    359.00
avg_wind_speed      1041.0     1.932085  ...     2.60      7.20
max_wind_direction  1041.0   164.468780  ...   219.00    358.00
max_wind_speed      1041.0     2.370893  ...     3.20      8.00
min_wind_direction  1041.0   154.270893  ...   201.00    359.00
min_wind_speed      1041.0     1.481364  ...     2.00      6.50
rain_accumulation   1040.0     0.000000  ...     0.00      0.00
rain_duration       1040.0     0.000000  ...     0.00      0.00
relative_humidity   1041.0    58.888473  ...    72.10     91.80

[12 rows x 8 columns]

In [0]:
sampled_df[sampled_df['rain_accumulation'] == 0].shape

(1040, 13)

In [0]:
sampled_df[sampled_df['rain_duration'] == 0].shape

(1040, 13)

In [0]:
del sampled_df['rain_accumulation']
del sampled_df['rain_duration']

In [0]:
rows_before = sampled_df.shape[0]
sampled_df = sampled_df.dropna()
rows_after = sampled_df.shape[0]

In [0]:
rows_before - rows_after

0

In [0]:
sampled_df.columns

Index(['rowID', 'hpwren_timestamp', 'air_pressure', 'air_temp',
       'avg_wind_direction', 'avg_wind_speed', 'max_wind_direction',
       'max_wind_speed', 'min_wind_direction', 'min_wind_speed',
       'relative_humidity'],
      dtype='object')

In [0]:
features = ['air_pressure', 'air_temp', 'avg_wind_direction', 'avg_wind_speed', 'max_wind_direction', 
        'max_wind_speed','relative_humidity']

In [0]:
select_df = sampled_df[features]

In [0]:
select_df.columns

Index(['air_pressure', 'air_temp', 'avg_wind_direction', 'avg_wind_speed',
       'max_wind_direction', 'max_wind_speed', 'relative_humidity'],
      dtype='object')

In [0]:
select_df

       air_pressure  air_temp  ...  max_wind_speed  relative_humidity
0             912.3     64.76  ...             1.6               60.5
10            912.3     62.24  ...             1.8               38.5
20            912.2     63.32  ...             2.5               58.3
30            912.2     62.60  ...             2.4               57.9
40            912.2     64.04  ...             2.9               57.4
...             ...       ...  ...             ...                ...
10360         916.0     52.70  ...             1.6               91.8
10370         916.1     52.88  ...             1.2               91.8
10380         916.2     52.70  ...             0.5               91.7
10390         916.2     52.70  ...             1.6               91.8
10400         916.2     52.34  ...             1.0               91.7

[1041 rows x 7 columns]

In [0]:
X = StandardScaler().fit_transform(select_df)
X

array([[-1.79412122, -0.08160083, -0.72859746, ..., -0.72776119,
        -0.47485067,  0.08068904],
       [-1.79412122, -0.46584979, -0.15750619, ...,  0.03150611,
        -0.35165577, -1.02084916],
       [-1.84176612, -0.30117166, -0.69214482, ..., -0.52860911,
         0.07952639, -0.02946478],
       ...,
       [ 0.06402999, -1.92050655,  2.44278169, ..., -1.71107458,
        -1.15242264,  1.64287049],
       [ 0.06402999, -1.92050655, -1.51840453, ..., -1.5119225 ,
        -0.47485067,  1.64787748],
       [ 0.06402999, -1.97539926, -1.2024817 , ..., -1.07627733,
        -0.84443538,  1.64287049]])

In [0]:
kmeans = KMeans(n_clusters=12)
model = kmeans.fit(X)
print("model\n", model)

model
 KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=12, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [0]:
centers = model.cluster_centers_
centers

array([[-0.38498712, -1.61319056, -0.99775782, -0.68351641, -0.81771909,
        -0.69230834,  1.48590888],
       [-0.30037498,  0.1669244 ,  0.60065518,  0.73782844,  0.66124249,
         0.7381453 ,  0.18809177],
       [ 1.03620423,  0.77049323,  0.18819092, -0.48038424,  0.45926501,
        -0.42124678, -0.90393016],
       [ 0.49872833,  0.25284855, -1.31785241, -0.19187857, -1.24296454,
        -0.21322026, -0.06255222],
       [-0.53372354, -1.52884876,  0.4501868 , -0.45838868,  0.5245755 ,
        -0.48089705,  1.36650297],
       [ 1.29969018,  1.19584795,  0.46615083,  1.65407594,  0.5295216 ,
         1.7178847 , -0.96479262],
       [-0.98004041,  0.2375901 ,  0.27227486, -0.75165156,  0.36649957,
        -0.76382637, -0.25453215],
       [-0.68637723, -0.30737977,  0.57140183,  1.88674525,  0.60866187,
         1.86145268,  0.49352744],
       [-0.05243533,  0.62895478,  2.22406589, -0.73512197, -1.81203362,
        -0.65051748, -0.52348797],
       [-0.3618571 ,  0.71042253,  1.64107172, -0.54608803,  1.87721912,
        -0.47359358, -0.51831067],
       [-1.02572044, -0.03313174, -1.2774552 , -0.4386721 , -1.15969874,
        -0.464366  , -0.14318741],
       [ 1.34322344,  0.95304354, -1.39892089, -0.41979424, -1.43761765,
        -0.53551483, -1.40198744]])

In [0]:
def pd_centers(featuresUsed, centers):
	colNames = list(featuresUsed)
	colNames.append('prediction')
	Z = [np.append(A, index) for index, A in enumerate(centers)]

	P = pd.DataFrame(Z, columns=colNames)
	P['prediction'] = P['prediction'].astype(int)
	return P

In [0]:
def parallel_plot(data):
	my_colors = list(islice(cycle(['b', 'r', 'g', 'y', 'k']), None, len(data)))
	plt.figure(figsize=(15,8)).gca().axes.set_ylim([-3,+3])
	parallel_coordinates(data, 'prediction', color = my_colors, marker='o')

In [0]:
P = pd_centers(features, centers)
P

    air_pressure  air_temp  ...  relative_humidity  prediction
0      -0.384987 -1.613191  ...           1.485909           0
1      -0.300375  0.166924  ...           0.188092           1
2       1.036204  0.770493  ...          -0.903930           2
3       0.498728  0.252849  ...          -0.062552           3
4      -0.533724 -1.528849  ...           1.366503           4
5       1.299690  1.195848  ...          -0.964793           5
6      -0.980040  0.237590  ...          -0.254532           6
7      -0.686377 -0.307380  ...           0.493527           7
8      -0.052435  0.628955  ...          -0.523488           8
9      -0.361857  0.710423  ...          -0.518311           9
10     -1.025720 -0.033132  ...          -0.143187          10
11      1.343223  0.953044  ...          -1.401987          11

[12 rows x 8 columns]